body {
  background: #060608;
  margin: 0;
  padding:0;
}

h1 {
  color: #eee;
  font-family: 'helvetica, arial, sans-serif';
}

#site-logo {
  margin: auto;
  display: block;
  transform: translateY(25vh);
  width: 80%;
  max-width: 1000px;
}

#copyright {
  color: #f6d26e;
  margin-top: 50px;
  transform: translateY(25vh);
  margin: 20px auto 20px;
  width: 240px;
}
